*{
	padding: 0;
	margin: 0;
	text-decoration: none;
	list-style: none;

}
@font-face {
	font-family: Hermes;
	src: url(../font/BadScript-Regular.ttf);
	}
@keyframes fade-in {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
nav{
	width: 100%;
	height: 100vh;
	background: url(../img/bg_buuton.png);
	background-repeat: repeat;

}

.logo{
	width: 512px;
	height: 312px;
	background: rgba(0,0,0,.9);
	color: white;
	font-family: hermes;
	font-size: 48px;
	text-align: center;
	padding-top: 200px;
	margin: 0 auto;
	 margin: auto;
  position: absolute;
  top: 0; left: 0; bottom: 0; right: 0;

}
