*{
	padding: 0;
	margin: 0;
	text-decoration: none;
	list-style: none;

}

#page1{
	width: 100%;
	height: 100vh;
	background: red
}
#page2{
	width: 100%;
	height: 100vh;
	background: green
}
#page3{
	width: 100%;
	height: 100vh;
	background: blue
}
#page4{
	width: 100%;
	height: 100vh;
	background: pink
}
#page5{
	width: 100%;
	height: 100vh;
	background: gray
}
#page6{
	width: 100%;
	height: 100vh;
	background: #
}
#page7{
	width: 100%;
	height: 100vh;
	background: #
}
#page8{
	width: 100%;
	height: 100vh;
	background: #
}
#page9{
	width: 100%;
	height: 100vh;
	background: #
}
#page10{
	width: 100%;
	height: 100vh;
	background: #
}

.bd{
	width: 64px;
	height: 24px;
	background: white;
	position:relative;
	bottom:-95vh;
	border-radius: 5px;
	margin: 0 auto;
}

.bu{
	width: 64px;
	height: 24px;
	background: white;
	position:relative;
	bottom: 15px;
	border-radius: 5px;
	margin: 0 auto;
}