*{
	padding: 0;
	margin: 0;
	text-decoration: 0;
	a

}
@font-face {
	font-family: Hermes;
	src: url(../font/compact_[allfont.ru].ttf);
	}
@keyframes fade-in {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}


#page_one{
	background: url(../img/BG.png);
	width: 100%;
	height: 100vh;
	background-size: cover;
	background-position: center;
	animation: fade-in .5s ease;
}
.logo{
	background: url(../img/SFDG.png);
	width: 256px;
	height: 256px;
	margin: 0px auto 0px;
	position: relative;
	top: 27vh;
	animation: fade-in 1.5s ease;
}
body{
	min-height: 2000px;
	/*overflow: hidden;*/
	scroll-behavior: smooth;
}
