*{
	padding: 0;
	margin: 0;
	text-decoration: none;
	list-style: none;


}
@font-face {
	font-family: Hermes;
	src: url(../font/compact_[allfont.ru].ttf);
	}
@keyframes fade-in {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}


#page_one{
	background: url(../img/BG.png);
	width: 100%;
	height: 100vh;
	background-size: cover;
	background-position: center;
	animation: fade-in .5s ease;
}

#page_two{
	background: #C7FFB1;
	height: 100vh;
	width: 100%;
}

#page_three{
	background: #B1C4FF;
	height: 100vh;
	width: 100%;
}
.logo{
	background: url(../img/SFDG.png);
	width: 256px;
	height: 256px;
	margin: 0px auto 0px;
	position: relative;
	top: 27vh;
	animation: fade-in 1.5s ease;
}
body{
	min-height: 2000px;
	overflow: hidden;
	scroll-behavior: smooth;
}

nav{
	height: 64px;
	width: 20px;
	
	position: fixed;
	z-index: 9999;
	position: fixed;
	right: 10px;
	margin-top:  45vh;

}
nav>ul>a>li{
	width: 15px;
	height: 15px;
	border-radius: 50%;
	
	margin-top: 10px;
}

.button{
	background: url(../img/bg_buuton.png);
	transition: all .1s

}
